* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* estilos generales  */

h1 {
  font-size: 45px;
  font-weight: 550;
}
h3 {
  font-size: 30px;
  font-weight: 400;
}

a {
  color: rgb(67, 139, 221);
  text-decoration: none;
}

header a {
  color: rgb(180, 178, 178);
  font-weight: 400;
  font-size: 12px;
  line-height: 3.666667;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 8px;
  height: 44px;
  opacity: 0.8;
  white-space: nowrap;
  letter-spacing: -0.01em;
}

/* encabezado */

header {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* seccion de pantalla 100% */

.full-width {
  height: 670px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}

.full-width h1 {
  margin-bottom: 9px;
}

.full-width h3 {
  margin-bottom: 15px;
}

.full-width a {
  margin-right: 30px;
}
/* seccion iphone azul */

.iphoneazul {
  background-image: url(https://www.apple.com/v/home/aj/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_largetall_2x.jpg);
}

/* seccion iphone rosa */
.iphonerosa {
  background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_largetall_2x.jpg");
}

/* regalos de san valentin */
.regalosdesanvalentin {
  background-image: url("https://www.apple.com/es/home/images/heroes/valentines-day-last-chance/hero_vday22__bt5gpd2vjafm_largetall_2x.jpg");
}

.iphonerosa h1 {
  color: white;
}

.iphonerosa h3 {
  color: #fec2eb;
}

.regalosdesanvalentin {
  color: #602d62;
}

/* contenedor small boxes */

.box1 {
  background-image: url(https://www.apple.com/v/home/aj/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_large_2x.jpg);
}

.box2 {
  background-image: url("https://www.apple.com/euro/home/x/screens_alt/images/promos/shot-on-iphone/tile_soip__f0c6lef982em_large_2x.jpg");
}

.box3 {
  background-image: url("https://www.apple.com/es/home/images/promos/watch-heart-month/promo_watch_heart__dlf8uc5h0kae_large_2x.jpg");
}

.box4 {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-black-unity/promo_watch__fo7j0tnywi2q_large_2x.jpg");
}
.box5 {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/apple-fitness-plus-winter/tile_winter__bpktzwl6hsc2_large_2x.jpg");
}
.box6 {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/tv-plus-suspicion/promo_suspicion__cuan5534xoq6_large_2x.jpg");
}

/* contenedor grande donde van las 6 boxes */
.small-boxes-container {
  height: 670px;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr; 
  align-content: center;
}

.contenedor-flex {
  height: 6070px;
  width: 100%;
  padding-top: 40px;
  margin-bottom: 30px;
  background-color: white;
}
/* medias queri */

@media screen and (max-width: 767px) {
  .iphoneazul {
    background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_small_2x.jpg");
  }

  .iphonerosa {
    background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_small_2x.jpg");
  }

  .regalosdesanvalentin {
    background-image: url("https://www.apple.com/es/home/images/heroes/valentines-day-last-chance/hero_vday22__bt5gpd2vjafm_small_2x.jpg");
  }

  header a {
    text-align: justify;
  }
}
