* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* estilos generales  */

h1 {
  font-size: 45px;
  font-weight: 550
}
h3 {
  font-size: 30px;
  font-weight: 400;
}

a {
  color: rgb(67, 139, 221);
  text-decoration: none;
}

header a{
    color: rgb(180, 178, 178);
    font-weight: 400;
    font-size: 12px;
    line-height: 3.666667;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 8px;
    height: 44px;
    opacity: .8;
    white-space: nowrap;
    letter-spacing: -.01em;
}

/* encabezado */

header {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* seccion de pantalla 100% */

.full-width {
  height: 670px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}

.full-width h1{
    margin-bottom: 9px;
}

.full-width h3{
    margin-bottom: 15px;
}

.full-width a{
    margin-right: 30px;
}
/* seccion iphone azul */

.iphoneazul {
  background-image: url(https://www.apple.com/v/home/aj/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_largetall_2x.jpg);
}

/* seccion iphone rosa */
.iphonerosa{
    background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_largetall_2x.jpg");
}

/* regalos de san valentin */
.regalosdesanvalentin{
    background-image: url("https://www.apple.com/es/home/images/heroes/valentines-day-last-chance/hero_vday22__bt5gpd2vjafm_largetall_2x.jpg");
}

.iphonerosa h1{
    color: white;
}

.iphonerosa h3{
    color: #fec2eb;
}

.regalosdesanvalentin {
    color: #602d62;
}

/* contenedor small boxes */

.small-boxes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.small-box{
    width: 45%;
    margin-bottom: 20px;
}

.small-box1{
background-color: hotpink;
}

.small-box2{
    background-color: blue
}

.small-box3{
    background-color: cadetblue;
}

.small-box4{
    background-color: coral;
}




/* medias queri */

@media screen and (max-width:767px) {
    .iphoneazul{
        background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_small_2x.jpg");
    }

    .iphonerosa{
        background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_small_2x.jpg");
    }

    .regalosdesanvalentin{
        background-image: url("https://www.apple.com/es/home/images/heroes/valentines-day-last-chance/hero_vday22__bt5gpd2vjafm_small_2x.jpg");
    }

    header a{
        text-align: justify;
    }

}


    
